<tr id={{card_id}}>
	<td>
		<div class="about-user">
			<div class="checkbox">
				<input name="checkboxG27" id="cbx{{card_id}}" class="css-checkbox" type="checkbox">
				<label for="cbx{{card_id}}" class="checkbox css-label"></label>
			</div>
			<a href="#" class="avatar-slide avsl"><img src="{{profile_image}}" alt=""></a>
			<span class="user-info-detail">
				<a href="#">{{full_name}}</a>
				<a href="#"><i>{{company_name}}</i></a>   
			</span>
		</div>
	</td>
	<td><a href="mailto:{{email_address}}">{{email_address}}</a></td>
	<td><a href="tel:+{{phone}}">{{phone}}</a></td>
	<td><a href="http://{{website_link}}" target="_blank">{{website_link}}</a></td>
	<td>{{bcn}}</td>
	<td>{{card_type}}</td>
</tr>

