{{!-- <form role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-5 control-label">Contact Name</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{full_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Company Name</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{company_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Department Name</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{department_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Position</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{position}}</p>
    </div>
  </div>
</form>
 --}}
{{!--  <form role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-7 control-label">Contact Name</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{full_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Company Name</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{company_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Department Name</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{department_name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Position</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{position}}</p>
    </div>
  </div>
</form> --}}

<table class="table">
    <tr>
    <td>Your Rating</td>
      <td><input id="rating-input" class="average-rating" type="number" value="{{rating}}" /></td>
  </tr>
    <tr>
    <td width="40%">Contact Name</td>
    <td width="60%">{{full_name}}</td>
  </tr>
  <tr>
    <td>Company Name</td>
    <td>{{company_name}}</td>
  </tr>
  <tr>
    <td>Department Name</td>
    <td>{{department_name}}</td>
  </tr>
  <tr>
    <td>Position </td>
    <td>{{position}}</td>
  </tr>
</table>

 
    
      
    
    
      
    
    
      
  
    
