<table class="table">
    <tr>
    <td>Your Rating</td>
      <td><input id="rating-input" class="average-rating" type="number" value="{{rating}}" /></td>
  </tr>
    <tr>
    <td width="40%">Contact Name</td>
    <td width="60%">{{full_name}}</td>
  </tr>
  <tr>
    <td>Company Name</td>
    <td>{{company_name}}</td>
  </tr>
  <tr>
    <td>Department Name</td>
    <td>{{department_name}}</td>
  </tr>
  <tr>
    <td>Position </td>
    <td>{{position}}</td>
  </tr>
</table>












