<tr>
	<td>
		<div class="about-user profile_small">
			<img class="img-circle mCS_img_loaded" src="{{profile_image}}" alt="">
			<span class="user-info-detail">
				<a href="#">{{first_name}} {{last_name}}</a>
				<a href="#"><i>{{website_link}}</i></a>   
			</span>
		</div>
	</td>
	<td>{{card_name}}</td>
	<td>{{card_type}}</td>
	<td>{{last_prop}}</i></td>
	<td class="approve-reject">
		<a href="#" class="approve">Approve</a>
		<a href="#" class="reject">Reject</a>
	</td>
</tr>

