<div role="tabpanel" class="tab-panel" id="{{uniq_id_selector}}">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#{{card_detail}}" aria-controls="home" role="tab" data-card-id="{{card_id}}" class="tab_details">Details</a>
    </li>
    <li role="presentation">
      <a href="#{{card_mutual_contacts}}" aria-controls="profile" role="tab" data-card-id="{{card_id}}" class="tab_mutual_contacts">Mutual Contacts</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content static-height">
    <div role="tabpanel" class="tab-pane active" id="{{card_detail}}">
    </div>
    <div role="tabpanel" class="tab-pane" id="{{card_mutual_contacts}}">
    </div>
  </div>
</div>