<table class="table">
    <tr>
    <td>Your Rating</td>
      <td><input id="rating-input" class="average-rating" type="number" value="{{rating}}" /></td>
  </tr>
    <tr>
    <td width="40%">Contact Name</td>
    <td width="60%">{{full_name}}</td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>{{phone}}</td>
  </tr>
  <tr>
    <td>Mobile Number</td>
    <td>{{mobile}}</td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td>{{email_address}}</td>
  </tr>
</table>
