{{!-- <form role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-5 control-label">Distributed Brand</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{distributed_brand}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Category</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{category}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Sub Category</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{sub_category}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Website</label>
    <div class="col-sm-7">
      <p class="form-control-static">{{website_link}}</p>
    </div>
  </div>
</form> --}}
{{!-- <form role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-7 control-label">Distributed Brand</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{distributed_brand}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Category</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{category}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Sub Category</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{sub_category}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-7 control-label">Website</label>
    <div class="col-xs-5">
      <p class="form-control-static">{{website_link}}</p>
    </div>
  </div>
</form> --}}

<table class="table">
  <tr>
    <td>Average Rating</td>
      <td><input id="rating-input" class="average-rating" type="number" value="{{average_rating}}" /></td>
  </tr>
    <tr>
    <td>Distributed Brand</td>
    <td>{{distributed_brand}}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{category}}</td>
  </tr>
  <tr>
    <td>Sub Category</td>
    <td>{{sub_category}}</td>
  </tr>
  <tr>
    <td>Website</td>
    <td>{{website_link}}</td>
  </tr>
</table>
