<table class="table">
  <tr>
    <td>Average Rating</td>
      <td><input id="rating-input" class="average-rating" type="number" value="{{average_rating}}" /></td>
  </tr>
    <tr>
    <td>Distributed Brand</td>
    <td>{{distributed_brand}}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{category}}</td>
  </tr>
  <tr>
    <td>Sub Category</td>
    <td>{{sub_category}}</td>
  </tr>
  <tr>
    <td>Website</td>
    <td>{{website_link}}</td>
  </tr>
</table>



  
    
      


  
    
      


  
    
      


  
    
      

